.photo-grid {
  margin: 92px auto 0;
  width: 92.5%;
  max-width: 1184px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* grid-template-rows: repeat(3, 1fr); */
  gap: 16px;
}

@media screen and (max-width: 1024px) {
  .photo-grid {
    width: 90%;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .photo-grid {
    width: 93.75%;
    margin-top: 88px;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 425px) {
  .photo-grid {
    width: 90%;
    margin-top: 64px;
    grid-template-columns: 1fr;
    row-gap: 12px;
  }
}