.lead__title {
  max-width: 720px;
  font-weight: 900;
  font-size: 96px;
  line-height: 1.04;
  margin: 56px auto 0;
  text-align: center;
}

@media screen and (max-width: 1280px) {
  .lead__title {
    margin-top: 49px;
  }
}

@media screen and (max-width: 1024px) {
  .lead__title {
    margin-top: 42px;
  }
}

@media screen and (max-width: 768px) {
  .lead__title {
    /* font-size: calc(40px + (56 + 56 * 0.7) * ((100vw - 425px) / 768)); */
    font-size: 96px;
    max-width: 90%;
    margin-top: 41px;
  }
}

@media screen and (max-width: 752px) {
  .lead__title {
    font-size: calc(40px + (56 + 56 * 0.7) * ((100vw - 425px) / 752));
  }
}

@media screen and (max-width: 425px) {
  .lead__title {
    line-height: 1.1;
    max-width: 330px;
    margin-top: 40px;
  }
}