.lead__subtitle {
  max-width: 640px;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.2;
  margin: 32px auto 0;
  text-align: center;
}

@media screen and (max-width: 560px) {
  .lead__subtitle {
    font-size: 22px;
    width: 90%;
  }
}

@media screen and (max-width: 425px) {
  .lead__subtitle {
    font-size: 16px;
    line-height: 1.25;
    margin-top: 14px;
    max-width: 330px;
  }
}