.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 92.5%;
  max-width: 1184px;
  margin: 0 auto;
  padding-top: 88px;
  padding-bottom: 24px;
}

@media screen and (max-width: 1024px) {
  .footer {
    padding-top: 90px;
    width: 90%;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    width: 93.75%;
  }
}

@media screen and (max-width: 708px) {
  .footer {
    padding-top: 64px;
    flex-direction: column;
    width: 90%;
  }
}